body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(9, 10, 31);
}

#title {
  color: rgb(227, 138, 81);
  font-size: 36px;
  text-transform: uppercase;
}

#myCanvas {
  border: 1px solid #000;
  background-image: url('../images/starfield.gif');
}
