body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#title {
  color: black;
  font-size: 36px;
}

#myCanvas {
  border: 1px solid #000;
  background-image: url('../images/starfield.gif');
}
